<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VueJS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
	<style>
	body {
		padding: 40px;
	}
	.done {
		color: #ccc;
	}
	[v-cloak] {
		display: none
	}
	</style>
</head>
<body>

	<div id="app" class="container" v-cloak>

		<ul class="content">
				<li class="tags has-addons" v-for="(task, index) in tasks">
					<a href="#" @click="toggleDone(index, $event)" :class="{ done: task.done }">{{ task.do }}</a>
					&nbsp;|&nbsp;<a href="#" @click="removeTask(index, $event)">Remove</a>
				</li>
		</ul>

		<div class="field has-addons">
			<div class="control is-expanded">
				<input class="input" type="text" v-model="newtask">
			</div>
			<div class="control">
				<button class="button is-info" @click="addTask">Add Task</button>
			</div>
		</div>

</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="app.js"></script>
</body>
</html>
